<footer class="border-top footer text-muted">
    <div class="container">
        <p>
            &copy; 2020 - William Larsson <br />
            Databasteknik och Webbaserade system, 7.5hp
        </p>
    </div>
</footer>