
@{
    ViewData["Title"] = "GradeRespons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Tack för ditt betyg</h4>
<hr />
<p>@ViewBag.FirstRespons</p>
<p>@ViewBag.SecondRespons</p>
<hr />
<div>
    <a asp-action="Index" type="submit" class="btn btn-primary">Tillbaka till Hem</a>
</div>
