@model MoviesModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SelectListItem> moviesList = (IEnumerable<SelectListItem>)ViewData["moviesInList"];
}

<h1>Umeå biosalong</h1>
<h4>Köp dina biobiljetter här!</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <!--"Purchase" is the page to load using "post" when the submit-button is pressed-->
        <form asp-action="Purchase" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Välj film:</label>
                @Html.DropDownList("MoviesList", moviesList, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="Tickets" class="control-label"></label>
                <input asp-for="Tickets" class="form-control" />
                <span asp-validation-for="Tickets" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Popcorn" /> @Html.DisplayNameFor(model => model.Popcorn)
                </label>
            </div>

            @Html.Partial("_FormSubmitButton", null, 
           new ViewDataDictionary(this.ViewData) { { "ButtonValue", "Slutför köp" } })

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
